@model IEnumerable<Proyecto3.DTOs.CustomersReadDTO>

@{
    ViewData["Title"] = "Listado de Clientes";
    int num = 1;
}
@await Html.PartialAsync("_Alerts")
<div class="container mt-4">
    <div class="row">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1>@ViewData["Title"]</h1>
            <a href="@Url.Action("Create", "Customers")" class="btn btn-success">
                <i class="bi bi-plus-circle"></i> Agregar Categoria
            </a>
            @* <h2>@ViewBag.Subtitulo</h2> *@
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th> # </th>
                    <th>@Html.DisplayNameFor(m => m.ClienteNombre) </th>
                    <th>@Html.DisplayNameFor(m => m.ClienteApellidos)</th>
                    <th>@Html.DisplayNameFor(m => m.LogoUrl)</th>
                    <th>@Html.DisplayNameFor(m => m.Activo)</th>
                    <th>@Html.DisplayNameFor(m => m.HoraAlta)</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@(num++)</td>
                            <td>@item.ClienteNombre</td>
                            <td>@item.ClienteApellidos</td>
                            <td><img src="@item.LogoUrl" alt="Logo" width="100" /></td>
                            <td>
                                <i class="@(item.Activo ? "fas fa-check text-success" : "fas fa-times text-danger")"></i>
                            </td>

                            <td>@item.HoraAlta</td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-info btn-sm ver-detalle m-2" data-id="@item.Id">
                                        Ver detalle
                                    </button>
                                    <a href="@Url.Action("Edit", "Customers", new { id = item.Id })"
                                       class="btn btn-sm btn-secondary m-2">
                                        <i class="fa-solid fa-pencil"></i> Editar
                                    </a>

                                    <a href="@Url.Action("Details", "Customers", new { id = item.Id })"
                                       class="btn btn-sm btn-info m-2">
                                        <i class="fa-solid fa-circle-info"></i> Detalles
                                    </a>

                                    <a href="@Url.Action("ConfirmDelete", "Customers", new { id = item.Id })"
                                       class="btn btn-sm btn-danger m-2">
                                        <i class="fa-solid fa-trash"></i> Eliminar
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <div class="modal fade" id="detalleModal" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body" id="detalleModalBody">
                        <!-- Modallll -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
<script>
    $(document).ready(function () {
        $(".ver-detalle").click(function () {
            var id = $(this).data("id");

                $.ajax({
                url: '@Url.Action("DetailsPartial", "Customers")', // <--- aquí
                data: { id: id },
                type: "GET",
                success: function (result) {
                    $("#detalleModalBody").html(result);
                    $("#detalleModal").modal("show");
                },
                error: function () {
                    alert("Error al cargar los detalles.");
                }
            });

        });
    });
</script>
}

